section#contact.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Фитнес тест-драйв

        // * * * * * * * * * * * * * * *
        // * * SB Forms Contact Form * *
        // * * * * * * * * * * * * * * *

        // This form is pre-integrated with SB Forms.
        // To make this form functional, sign up at
        // https://startbootstrap.com/solution/contact-forms
        // to get an API token!

        form#contactForm(data-sb-form-api-token='API_TOKEN')
            .row.align-items-stretch.mb-3

                .col-md-6
                    p Хотите больше узнать о нашем клубе? Оставьте заявку, и наши менеджеры проведут для вас подробную экскурсию. 

                    p Для тех, кому экскурсии мало мы предлагаем «фитнес тест-драйв» — безлимитную неделю фитнеса, чтобы вы могли окончательно понять, насколько вам комфортно у нас.
                .col-md-6
                    .form-group

                        // Name input
                        input#name.form-control(
                            type='text',
                            placeholder='Ваше имя *',
                            data-sb-validations='required'
                        )
                        .invalid-feedback(data-sb-feedback='name:required')
                            | Имя обязательно *

                    .form-group

                        // Phone number input
                        input#phone.form-control(
                            type='tel',
                            placeholder='Ваш телефон*',
                            data-sb-validations='required'
                        )
                        .invalid-feedback(data-sb-feedback='phone:required')
                            | Телефон обязательно *
                        .checkbox
                            input#soglas-2(type='checkbox', name='accept', value='1')
                            |  
                            label(for='soglas-2')
                            | &Ocy;&zcy;&ncy;&acy;&kcy;&ocy;&mcy;&lcy;&iecy;&ncy; &scy; 
                            a(href='/privacy/', target='_blank') &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&ocy;&jcy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
                                // Submit success message
            //
            // This is what your users will see when the form
            // has successfully submitted

            #submitSuccessMessage.d-none
                .text-center.text-white.mb-3
                    .fw-bolder Заявка отправлена!
                    br
                    a(href='#') 

            // Submit error message
            //
            // This is what your users will see when there is
            // an error submitting the form

            #submitErrorMessage.d-none
                .text-center.text-danger.mb-3 Error sending message!

            // Submit Button
            .text-center
                button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(type='submit') Записаться
